/* Setup a default font for the page */
* {
    color: #999;
}

body {
    background-color: #101010;
}

h1, h2, h3 {
    color: rgb(55, 129, 58);
}

p {
    color: white;
}

#quote {
    background:#333;
    color:white
}

.media {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
}

#SPOOPY {
    margin-right: 80%;
}

a[target] {
    color: rgb(55, 129, 58);
}

a:visited {
    color: #4f0991;
}

figure figcaption {
    color: hsl(9, 100%, 64%)
}

section > aside {

}

a + h3 {

}

summary ~ br {

}

audio {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

table {
    border-style: dashed;
    border-width: 2px;
    border-color: #999;
    border-radius: 10px;
}

th {
    padding: 2px 2px 2px 2px;
    margin: 50% 50% 50% 50%;
}

tr {
    padding-top: 4px;
    padding-bottom: 4px;
}

svg {
    height: 100px;
    width: 100px;
}