/* Setup a default font for the page */
* {
    color: #999;
}

body {
    background-color: #101010;
}

h1, h2, h3 {
    color: rgb(55, 129, 58);
}

p {
    color: white;
}

#quote {
    background:#333;
    color:white
}

.center {

}

#SPOOPY {

}

a[target] {

}

a:visited {
    color: #4f0991;
}

figure figcaption {
    color: hsl(9, 100%, 64%)
}

section > aside {

}

a + h3 {

}

summary ~ br {

}